:root {
    --color-primary: #3b3b3b;
    --color-secondary: #7225D5;
    --color-highlight: #ff0000;
    --color-text: #ffffff;
}

.link.default.external::after {
    content: "";
    width: 12px;
    height: 12px;
    margin-left: 4px;
    background: url("../icons/external-link-ico.min.svg") no-repeat center center;
    display: inline-block;
}