:root {
    --color-primary: #222222;
    --color-secondary: #7225D5;
    --color-highlight: #ff0000;
    --color-text: #ffffff;
}

html {
    background-color: var(--color-primary);
    color: var(--color-text);
    font-family: Arial, Helvetica, sans-serif;
}

.input.default {
    border-width: 2px;
    border-radius: 4px;
    border-style: solid;
    border-color: var(--color-secondary);
    background-color: var(--color-primary);
    color: var(--color-white);
}

.input.default.button:hover {
    background-color: var();
}

.link.default.external::after {
    content: "";
    width: 12px;
    height: 12px;
    margin-left: 4px;
    background: url("../icons/external-link-ico.min.svg") no-repeat center center;
    display: inline-block;
}